include includes/_header.jade
body
	.backImage
		.nav1.setting
			ul
				li <a href="#about">about</a>
				li <a href="#skills">skills</a>
				li <a href="#connect">connect</a>
				li <a href="https://medium.com/@colindameli0">blog</a>	
		.banner.clearfix
			h1(class="welcome") Colin <span>D'Amelio</span>
			h2(class="title") Web Developer & Designer
	.about#about
		.infoBox
			.intro
				h2.hello<span>{</span> Hi, my name is Colin.
				p I am a Toronto based front-end web developer. I am always striving to level up and allow my skills to construct creative, aesthetic, and powerful websites.
				p I come from a more academic-oriented background (B.A. & M.A.). However, web development has opened the door to a more creative and tangible experience. 
				p When I am not building custom websites, I can be found volunteering for a non-profit organization with a mandate towards community safety.
				p <span>}</span>
	.skills#skills
		h2 What I can Do
		.three-skills.clearfix
			.skill.one
				img(src="../dist/images/skills1.png")
				h3 Programming
				p HTML5, CSS3/SASS, WordPress Javascript and jQuery supply the needed tools to build and maintain beautiful and modern websites.
			.skill.two
				img(src="../dist/images/skills2.png")
				h3 Responsive
				p Providing a seamless transition across a wide range of devices to ensure optimal viewing experiences.
			.skill.three
				img(src="../dist/images/tools.png")
				h3 Soft-Skills
				p My professional and educational background contribute to my abilty to perform above expectations, deliver proven products and lead.		


	.footer#connect
		h2 Connect With Me
		.last#last
			ul
				li 
					a(href="http://twitter.com/colindameli0")
						img(src="../dist/images/svg/twitter.svg")
				li 
					a(href="http://www.instagram.com/colindameli0")
						img(src="../dist/images/svg/instagram.svg")
				li 
					a(href="http://www.linkedin.com/colindamelio")
						img(src="../dist/images/svg/linkedIn.svg")
				li 
					a(href="mailto:colin.damelio@gmail.com")
						img(src="../dist/images/svg/mail.svg")
	.final	
		p Code and Design © <span>Colin D'Amelio</span> 2014</p>
