include includes/_header.jade
body
	.backImage
		.nav1.setting
			ul
				li <a href="#">about</a>
				li <a href="#">skills</a>
				li <a href="#">connect</a>
				li <a href="#">blog</a>	
		.banner.clearfix
			h1(class="welcome") Colin <span>D'Amelio</span>
			h2(class="title") Web Developer & Designer
	.about#about
		.infoBox
			.intro
				h2.hello<span>{</span> Hi, my name is Colin.
				p I live in Toronto and create custom websites that aim for an optiaml user experience.
				p Take a look around my site to learn more about me and connect.
	.skills
		.three-skills.clearfix
			.skill.one
				img(src="../dist/images/tools.png")
				p Sublime Text 3, Grunt, GitHub
			.skill.two
				img(src="../dist/images/responsive2.png")
				p some skills
			.skill.three
				img(src="http://placehold.it/250x250")
				p some skills		


	.last#last
		h1 Connect with me
		ul
			li <a href="#">twitter</a>
			li <a href="#">instagram</a>
			li <a href="#">LinkedIn</a>
			li <a href="#">GitHub</a>
	.footer
		p Code and design by Colin D'Amelio
